In [96]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [97]:
import warnings
warnings.filterwarnings('ignore')

# Final Project: NBA Quick Stats

In [116]:
def compute_summary_stats(year):
    url = f"https://www.basketball-reference.com/leagues/NBA_{year}.html"
    tables = pd.read_html(url)
    
    east = tables[0].iloc[:,[0, 3]]
    east.rename(columns={'Eastern Conference': 'Team'}, inplace=True)
    
    west = tables[1].iloc[:,[0, 3]]
    west.rename(columns={'Western Conference': 'Team'}, inplace=True)
    
    all_teams = [east, west]
    all_teams = pd.concat(all_teams)
    all_teams = all_teams.reset_index()
    all_teams.drop('index', axis=1, inplace=True)
    
    if year >= 2016:
        df_total = tables[4].sort_values('PTS')
        df_total = df_total.merge(all_teams).sort_values('W/L%')
        df_total['Year'] = year
        return pd.DataFrame(df_total.sort_values('W/L%', ascending=False))
    else:
        df_total = tables[2].sort_values('PTS')
        df_total = df_total.merge(all_teams).sort_values('W/L%')
        df_total['Year'] = year
        return pd.DataFrame(df_total.sort_values('W/L%', ascending=False))

In [117]:
result = compute_summary_stats(2011)
result.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,W/L%,Year
10,20.0,Chicago Bulls*,82,241.8,37.1,80.3,0.462,6.2,17.3,0.361,...,32.4,44.2,22.3,7.2,5.7,14.2,20.0,98.6,.756,2011
24,6.0,San Antonio Spurs*,82,241.2,38.4,80.8,0.475,8.4,21.1,0.397,...,31.7,41.9,22.4,7.3,4.5,13.4,19.0,103.7,.744,2011
22,8.0,Miami Heat*,82,241.2,37.0,76.8,0.481,6.7,18.0,0.370,...,32.5,42.1,20.0,6.6,5.2,13.9,20.4,102.1,.707,2011
21,9.0,Los Angeles Lakers*,82,241.8,38.1,82.4,0.463,6.4,18.1,0.352,...,31.9,44.0,22.0,7.3,5.1,13.1,19.0,101.5,.695,2011
19,11.0,Dallas Mavericks*,82,240.3,37.4,78.8,0.475,7.9,21.6,0.365,...,31.9,41.4,23.8,6.8,4.3,14.0,19.2,100.2,.695,2011

Questions

(1) How have the basic stats (ie. 3-point FGs attempted, winning percentage, etc.) of NBA teams changed over the past decade?
Ryan
(2) Playoff team data vs Non-playoff team data over past decade
Chris
(3) What variable has the highest correlation with winning percentage among teams in the top 25% over the past decade? Is there a significant difference with this variable between the top 25% and bottom 25%?
Jovanni